.currency-info-wrapper {
  width: 100vw;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.currency-info {
  position: relative;
  padding: 1rem;
  width: 80%;
  height: 100%;
  background-color: #121212;
  border: 1px solid #fefefe;
  border-radius: 25px;
}

.back-to-homepage {
  position: absolute;
  top: 1rem;
  left: 2rem;
  color: #fefefe;
  transition: all 0.1s ease;
}

.back-to-homepage:hover {
  color: lightgreen;
}

.add-to-favourites {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 1.2rem;
  background-color: #121212;
  color: #fefefe;
  outline: none;
  border: none;
}

.add-to-favourites:hover {
  color: #e6ff05;
}
